<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry_category.name %>
</p>

<%= link_to 'Edit', edit_entry_category_path(@entry_category) %> |
<%= link_to 'Back', entry_categories_path %>
